*.jpg
*.conf
*.txt
output.json
pickling.py
gcloud_parser_backup.py
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version
__pypackages__/
.env
.venv
env/
venv/
